*.js
config.d.ts
config.js
!.eslintrc.js
!jest.config.js
!jest.config.int.js
*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out

# sam
.aws-sam
samconfig.toml

# OS X
.DS_Store

# Dependency directories
node_modules

# Coverage directory
coverage

# eslint cache
.eslintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock